name: Quality Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  analyze-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout del código
      - name: Checkout code
        uses: actions/checkout@v3

      # 2️⃣ Instalar Flutter 3.35.2
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.2'

      # 3️⃣ Descargar dependencias
      - name: Install dependencies
        run: flutter pub get

      # 4️⃣ Analizar código (lint + estilo)
      - name: Flutter Analyze
        run: flutter analyze --no-fatal-infos --no-fatal-warnings

      # 5️⃣ Ejecutar las pruebas unitarias
      - name: Run Tests
        run: flutter test